<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>HA</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .fakeimg {
            height: 200px;
            background: #aaa;
        }
    </style>
</head>
<body>
<div class="jumbotron text-center" style="margin-bottom:0">
    <h2>PassionDesert</h2>
</div>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">PassionDesert</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">首页</a></li>
                <li><a href="#">排行榜</a></li>
                <li><a href="#">安利墙</a></li>
                <li><a href="#">发现</a></li>
                <li><a href="#">论坛</a></li>
                <li><a href="#">视频</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">

        <div class="col-sm-8">
            <div class="fakeimg">
                图像
            </div>
            <p></p>
            <div class="fakeimg">图像</div>
        </div>
        <div class="col-sm-2">
            <h2>HA</h2>
            <h5>HA:发现好游戏</h5>
            <div class="social-spread-wechat"><img src="https://img.tapimg.com/market/images/c4bf2701e3ee9993e1ee0b8222480a35.jpg" alt=""></div>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#">QQ</a></li>
                <li><a href="#">微信</a></li>
                <li><a href="#">知乎</a></li>
            </ul>
            <hr class="hidden-sm hidden-md hidden-lg">
        </div>
    </div>
</div>

<div class="jumbotron text-center" style="margin-bottom:0">
  <span>
      <span>Copyright © 2019 <a href="https://www.taptap.com">HA</a>. All rights Reserved.</span>
           <br>
              <span>适龄提示: 本公司产品适合 10 周岁以上玩家使用</span>
               <span>&nbsp;<a href="https://www.taptap.com/taptapjh" target="_blank" rel="nofollow">未成年人家长监护</a>&nbsp;&nbsp;                            <a href="https://www.taptap.com/privacy-policy" rel="nofollow">隐私权政策</a>&nbsp;&nbsp;
               <a href="https://www.taptap.com/copyright" rel="nofollow">侵权投诉</a>                         </span>
           <br>
           <span>
                <a href="http://www.miibeian.gov.cn/" target="_blank" rel="nofollow">沪ICP备16012525号-1</a>&nbsp;&nbsp;
                 <a href="/license/www.html">沪网文(2016)2204-116号&nbsp;&nbsp;</a>
            </span>
             <br>
            <span class="manage">经营许可证编号: 沪B2-20170322</span>易玩（上海）网络科技有限公司
               <br>
            <span>公司地址: 上海市静安区万荣路 700 号 A3 202</span>
             <br>
             <span class="record-filing">
		 	<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010402003255">
             <img src="https://img.tapimg.com/market/images/d0289dc0a46fc5b15b3363ffa78cf6c7.png">
                  <p>
                    沪公网安备 31010402003255号
                 </p>
             </a>
		 	<a target="_blank" href="http://sq.ccm.gov.cn:80/ccnt/sczr/service/business/emark/toDetail/35EE6340BAC97151E0530140A8C0E25A">
                <img src="https://img.tapimg.com/market/images/d839a60d8749eca93b9ca669583e65f4.png">
                  <p>
                      互联网文化经营单位
                   </p>
             </a>
		 	</span>
      </span>
</div>
</body>
</html>